<!doctype html>
<html lang="en"> 
 <head> 
  <base href="/"> 
  <meta charset="utf-8"> 
  <meta content="IE=Edge" http-equiv="X-UA-Compatible"> 
  <meta name="google-site-verification" content="o6SchIZo_wF_qwuEKN7nxFBlyY8AvT5tkTVk2PuMP4c"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, height=device-height"> 
  <title>Outreach – Google Research</title> 
  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Google Research",
        "url": "https://research.google",
        "logo": "https://research.google/static/images/share-9cd7266ef5001b20f98e01062c26189fa69ed6c784df04caf809668887fd339a.png"
      }
    </script> 
  <meta property="og:image" content="https://research.google/static/images/share-9cd7266ef5001b20f98e01062c26189fa69ed6c784df04caf809668887fd339a.png"> 
  <meta property="og:title" content="Outreach – Google Research"> 
  <meta property="og:site_name" content="Google Research"> 
  <meta property="og:type" content="website"> 
  <meta property="og:url" content="https://research.google/outreach/"> 
  <meta name="description" content="We support the broader research community through our Faculty Engagement and Student Support programs, and by providing Research Datasets and Tools &amp; Resources."> 
  <meta property="og:description" content="We support the broader research community through our Faculty Engagement and Student Support programs, and by providing Research Datasets and Tools &amp; Resources."> 
  <link rel="shortcut icon" href="/static/images/favicon-6da5620880159634213e197fafca1dde0272153be3e4590818533fab8d040770.ico" type="image/x-icon"> 
  <link href="/css/main_min_css.css" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Google+Sans:+400,500,700|Product+Sans:400|Roboto:300,400,500,700|Roboto+Mono:500&amp;display=swap" media="all" rel="stylesheet"> <!-- Google Tag Manager --> 
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8QBZ7Q');</script> <!-- End Google Tag Manager --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
 </head> 
 <body class="page--outreach"> <!-- Google Tag Manager (noscript) --> 
  <noscript>
   <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8QBZ7Q" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript> <!-- End Google Tag Manager (noscript) --> 
  <header ng-controller="HeaderController as headerCtrl"> 
   <div class="header__top"> <a href="" class="header__hamburger" ng-click="headerCtrl.open()" aria-expanded="false" aria-label="Open the navigation drawer" aria-controls="header__nav"> 
     <div class="header__hamburger-burger"></div> </a> <a href="/" class="header__lockup"> <span class="off-screen">Google Research</span> 
     <div class="header__logo"> 
      <img src="/static/images/google_research_lockup-121987c06c0aa0ab26ca8716a0f2e7945d1cbf82077bbab9f914dac0a0bf099f.svg" alt="Google Research Logo"> 
     </div> </a> 
    <nav class="header__nav" id="header__nav" aria-label="Navigation"> <a href="/" class="header__lockup"> <span class="off-screen">Google Research</span> 
      <div class="header__logo"> 
       <img src="/static/images/google_research_lockup-121987c06c0aa0ab26ca8716a0f2e7945d1cbf82077bbab9f914dac0a0bf099f.svg" alt="Google Research Logo"> 
      </div> </a> 
     <div class="header__items"> 
      <div class="header__item" aria-level="1"> <a href="/philosophy/" class="header__link"> Philosophy </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/research-areas/" class="header__link"> Research Areas </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/pubs/" class="header__link"> Publications </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/people/" class="header__link"> People </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/tools/" class="header__link"> Tools &amp; Downloads </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/outreach/" class="header__link header__link--active"> Outreach </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/careers/" class="header__link"> Careers </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="https://ai.googleblog.com" class="header__link" target="_blank"> Blog </a> 
      </div> 
     </div> 
    </nav> 
   </div> 
   <div class="header__overlay" ng-click="headerCtrl.close()"></div> 
  </header> 
  <main class="section-wrapper" ng-controller="MainController as mainCtrl"> 
   <section class="hero 
    
    
    
    "> 
    <div class="gen-art" data-gen-art data-card-type="hero" data-id="/outreach/"> 
     <div class="artwork" data-gen-art-background></div> 
    </div> 
    <div class="white-overlay"> 
     <div class="hero-meta"> 
      <div class="hero-meta__wrapper"> 
       <h1 class="hero__title"> <span class="wrap">Collaborations with the research and academic communities</span> </h1> 
      </div> 
     </div> 
    </div> 
    <div class=""> 
     <div class="hero__wrapper"> 
      <div class="hero__content-wrapper"> 
       <div class="content hero__content    "> 
        <div class="content__text"> 
         <div class="content__header"> 
         </div> 
         <div class="content__body"> 
          <p>Google was born in Stanford's Computer Science department, so strong relationships with universities and research institutions are in our DNA. To cultivate these collaborations, we administer a variety of programs that provide resources and support to the academic and external research communities.</p> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section>
   <section class="group group--side    "> 
    <div class="group__wrapper"> 
     <div class="group__content-wrapper"> 
      <div class="content group__content    "> 
       <div class="content__text"> 
        <div class="content__header"> 
         <h2 class="content__title "> Faculty engagement </h2> 
        </div> 
        <div class="content__body"> 
         <p>Google supports and participates in the academic research community through meaningful engagement with university faculty. Our ongoing programs provide funding for academic research, as well as enable faculty to collaborate with Google researchers.</p> <iframe width="517" height="291" src="https://www.youtube.com/embed/wSQXzCDW9t4?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
         <p><span class="t--copy-xs">Google Visiting Researcher Program</span></p> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="group__gallery-wrapper"> 
      <div class="gallery gallery--bar

      gallery--1-columns




    "> 
       <div class="gallery__wrapper"> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="featured-research-collaborations" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Featured Research Collaborations</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>We have the opportunity to build collaborations with global faculty through several different programs. This page highlights current collaborations that are important to us and awards that we granted beyond our Faculty Engagement programs.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/featured-research-collaborations/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="award-for-inclusion-research-program" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Award for Inclusion Research Program</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>The Award for Inclusion Research Program recognizes and supports academic research in computing and technology that addresses the needs of underrepresented populations globally.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/air-program/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="explorecsr" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">exploreCSR</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>Google's exploreCSR awards support institutions to host computer science research (CSR) initiatives in order to increase the number of students from historically marginalized groups pursuing graduate studies and research careers in computing.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/explore-csr/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="research-scholar-program" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Research Scholar Program</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>The Research Scholar program aims to support early-career faculty who are pursuing research in fields relevant to Google.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/research-scholar-program/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="visiting-researcher-program" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Visiting Researcher Program</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>Each year, academic researchers visit Google in order to collaborate with our research and engineering teams. Google provides a unique combination of interesting research problems, a wealth of data, world-class computing infrastructure, and the chance to deploy research in a form that will be used by millions.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/visiting-researcher-program/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="past-programs-recipients" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Past Programs &amp; Recipients</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>We have a history of funding faculty through our various University Relations programs. Find our former programs &amp; recipients here.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/past-programs/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section>
   <section class="group group--side    has-grey-background"> 
    <div class="group__wrapper"> 
     <div class="group__content-wrapper"> 
      <div class="content group__content    "> 
       <div class="content__text"> 
        <div class="content__header"> 
         <h2 class="content__title "> Student engagement </h2> 
        </div> 
        <div class="content__body"> 
         <p>In order to support and deepen our relationship with the next generation of researchers, Google offers fellowships, scholarships, internships and other student opportunities.</p> <iframe width="517" height="291" src="https://www.youtube.com/embed/7RcUokN_eCg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
         <p><span class="t--copy-xs">Google PhD Fellowship Program</span></p> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="group__gallery-wrapper"> 
      <div class="gallery gallery--bar

      gallery--1-columns




    "> 
       <div class="gallery__wrapper"> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="phd-fellowship-program" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">PhD Fellowship Program</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>The PhD Fellowship recognizes outstanding graduate students doing exceptional work in computer science, related disciplines, or promising research areas. We currently offer Fellowships in Africa, Australia, Canada, East Asia, Europe, India, New Zealand, Southeast Asia and the United States.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/phd-fellowship/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="cs-research-mentorship-program" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">CS Research Mentorship Program</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>The CS Research Mentorship Program matches undergraduate and graduate students from historically marginalized groups with their peers and a Google mentor in order to support their pursuit of computing research pathways.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="/outreach/csrmp/"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="scholarships" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Scholarships</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>As part of our ongoing commitment to advancing computing and technology, we provide scholarships to encourage students to excel in their studies and become role models and leaders.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="https://edu.google.com/scholarships/" target="_blank"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="internships" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Internships</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>The Internship Program aims to develop student talent in preparation for a full-time role at Google by providing opportunities across our various research areas. We welcome applications throughout the year from students in the final year of their PhD Program.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="https://careers.google.com/jobs#t=sq&amp;q=j&amp;li=20&amp;l=false&amp;jlo=en-US&amp;jc=DATA_CENTER_OPERATIONS&amp;jc=DEVELOPER_RELATIONS&amp;jc=HARDWARE_ENGINEERING&amp;jc=INFORMATION_TECHNOLOGY&amp;jc=NETWORK_ENGINEERING&amp;jc=TECHNICAL_WRITING&amp;jc=TECHNICAL_SOLUTIONS&amp;jc=TECHNICAL_INFRASTRUCTURE_ENGINEERING&amp;jc=SOFTWARE_ENGINEERING&amp;jc=MANUFACTURING_SUPPLY_CHAIN&amp;jc=PROGRAM_MANAGEMENT&amp;jc=PRODUCT_MANAGEMENT&amp;jc=USER_EXPERIENCE&amp;je=INTERN&amp;jcoid=7c8c6665-81cf-4e11-8fc9-ec1d6a69120c&amp;jcoid=e43afd0d-d215-45db-a154-5386c9036525&amp;" target="_blank"> Apply now </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="student-research-opportunities" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Student Research Opportunities</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>The Student Researcher Program seeks to build and support partnerships with early career researchers through research projects at Google. We welcome applications from BS/MS/PhD students, or pre-academic researchers intending to join a MS or PhD program.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="https://careers.google.com/jobs/results/?company=Google&amp;company=YouTube&amp;employment_type=INTERN&amp;jex=ENTRY_LEVEL&amp;q=Student%20Researcher" target="_blank"> Apply now </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="bar bar--expandable " id="travel-grants" ng-controller="ToggleController as expandCtrl"> <a class="bar__bar" ng-click="expandCtrl.toggle($event)" ng-class="{'is-active': expandCtrl.active}"> <h4 class="bar__title">Travel Grants</h4> <span class="icon icon--expandable"></span> </a> 
          <div class="bar__body" ng-class="{'is-active': expandCtrl.active}" ng-style="expandCtrl.active ? {'height': expandCtrl.barHeight} : {}"> 
           <div class="content     "> 
            <div class="content__text"> 
             <div class="content__header"> 
             </div> 
             <div class="content__body"> 
              <p>Our Student Travel Grants program aims to support students, globally, who have their research papers accepted at top international conferences.</p> 
             </div> 
            </div> 
            <div class="content__ctas"> <a class="button  " href="https://buildyourfuture.withgoogle.com/scholarships/google-travel-scholarships/" target="_blank"> Learn more </a> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section> 
   <div class="callout-push-down-spacer"></div> 
   <section class="callout callout--fullwidth   "> 
    <div class="block block--cta-left     "> 
     <div class="block__content-wrapper"> 
      <div class="content block__content    "> 
       <div class="content__text"> 
        <div class="content__header"> 
         <h3 class="content__title "> Frequently asked questions </h3> 
        </div> 
        <div class="content__body"> 
         <p>Learn more about our programs and outreach efforts on our FAQ page.</p> 
        </div> 
       </div> 
       <div class="content__ctas"> <a class="button button--light " href="/outreach/faq/"> See FAQs </a> 
       </div> 
      </div> 
     </div> 
    </div>
   </section> 
  </main> 
  <footer> <a href="https://www.google.com" target="_blank" aria-label="Google" class="footer__logo"> <img src="/static/images/google_lockup_grey-c55a858d36d74fd790953e6d5cbab45ac99bd5bd8c2b764768258ec732ad42ad.svg" alt="Google"> </a> 
   <div class="footer__links"> <a href="https://policies.google.com/privacy" target="_blank" class="footer__link">Privacy</a> <a href="https://policies.google.com/terms" target="_blank" class="footer__link">Terms</a> <a href="https://about.google/" target="_blank" class="footer__link">About Google</a> <a href="https://about.google/intl/en/products/" target="_blank" class="footer__link">Google Products</a> 
   </div> 
   <div class="footer__tertiary"> <a href="" class="footer__link footer__link--support" onclick="sendFeedback()"> Feedback </a> 
   </div> 
   <script>
    function sendFeedback() {
      var config = {
        'productId': '5137383',
        'bucket': 'site',
        'allowNonLoggedInFeedback' : true
      };
      userfeedback.api.startFeedback(config);
    }
  </script> 
  </footer> 
  <div id="breakpoints"></div> 
  <script src="/js/main_min_js.js"></script>  
 </body>
</html>