<!doctype html>
<html lang="en"> 
 <head> 
  <base href="/"> 
  <meta charset="utf-8"> 
  <meta content="IE=Edge" http-equiv="X-UA-Compatible"> 
  <meta name="google-site-verification" content="o6SchIZo_wF_qwuEKN7nxFBlyY8AvT5tkTVk2PuMP4c"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, height=device-height"> 
  <title>Tools &amp; Downloads – Google Research</title> 
  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Google Research",
        "url": "https://research.google",
        "logo": "https://research.google/static/images/share-9cd7266ef5001b20f98e01062c26189fa69ed6c784df04caf809668887fd339a.png"
      }
    </script> 
  <meta property="og:image" content="https://research.google/static/images/share-9cd7266ef5001b20f98e01062c26189fa69ed6c784df04caf809668887fd339a.png"> 
  <meta property="og:title" content="Tools &amp; Downloads – Google Research"> 
  <meta property="og:site_name" content="Google Research"> 
  <meta property="og:type" content="website"> 
  <meta property="og:url" content="https://research.google/tools/"> 
  <meta name="description" content="We make tools and datasets available to the broader research community with the goal of building a more collaborative ecosystem."> 
  <meta property="og:description" content="We make tools and datasets available to the broader research community with the goal of building a more collaborative ecosystem."> 
  <link rel="shortcut icon" href="/static/images/favicon-6da5620880159634213e197fafca1dde0272153be3e4590818533fab8d040770.ico" type="image/x-icon"> 
  <link href="/css/main_min_css.css" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Google+Sans:+400,500,700|Product+Sans:400|Roboto:300,400,500,700|Roboto+Mono:500&amp;display=swap" media="all" rel="stylesheet"> <!-- Google Tag Manager --> 
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K8QBZ7Q');</script> <!-- End Google Tag Manager --> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script> 
 </head> 
 <body> <!-- Google Tag Manager (noscript) --> 
  <noscript>
   <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8QBZ7Q" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript> <!-- End Google Tag Manager (noscript) --> 
  <header ng-controller="HeaderController as headerCtrl"> 
   <div class="header__top"> <a href="" class="header__hamburger" ng-click="headerCtrl.open()" aria-expanded="false" aria-label="Open the navigation drawer" aria-controls="header__nav"> 
     <div class="header__hamburger-burger"></div> </a> <a href="/" class="header__lockup"> <span class="off-screen">Google Research</span> 
     <div class="header__logo"> 
      <img src="/static/images/google_research_lockup-121987c06c0aa0ab26ca8716a0f2e7945d1cbf82077bbab9f914dac0a0bf099f.svg" alt="Google Research Logo"> 
     </div> </a> 
    <nav class="header__nav" id="header__nav" aria-label="Navigation"> <a href="/" class="header__lockup"> <span class="off-screen">Google Research</span> 
      <div class="header__logo"> 
       <img src="/static/images/google_research_lockup-121987c06c0aa0ab26ca8716a0f2e7945d1cbf82077bbab9f914dac0a0bf099f.svg" alt="Google Research Logo"> 
      </div> </a> 
     <div class="header__items"> 
      <div class="header__item" aria-level="1"> <a href="/philosophy/" class="header__link"> Philosophy </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/research-areas/" class="header__link"> Research Areas </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/pubs/" class="header__link"> Publications </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/people/" class="header__link"> People </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/tools/" class="header__link header__link--active"> Tools &amp; Downloads </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/outreach/" class="header__link"> Outreach </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="/careers/" class="header__link"> Careers </a> 
      </div> 
      <div class="header__item" aria-level="1"> <a href="https://ai.googleblog.com" class="header__link" target="_blank"> Blog </a> 
      </div> 
     </div> 
    </nav> 
   </div> 
   <div class="header__overlay" ng-click="headerCtrl.close()"></div> 
  </header> 
  <main class="section-wrapper" ng-controller="MainController as mainCtrl"> 
   <section class="hero 
    
    
    
    "> 
    <div class="gen-art" data-gen-art data-card-type="hero" data-id="/tools/"> 
     <div class="artwork" data-gen-art-background></div> 
    </div> 
    <div class="white-overlay"> 
     <div class="hero-meta"> 
      <div class="hero-meta__wrapper"> 
       <h1 class="hero__title"> <span class="wrap">Research resources</span> </h1> 
      </div> 
     </div> 
    </div> 
    <div class=""> 
     <div class="hero__wrapper"> 
      <div class="hero__content-wrapper"> 
       <div class="content hero__content    "> 
        <div class="content__text"> 
         <div class="content__header"> 
         </div> 
         <div class="content__body"> 
          <p>We make tools and datasets available to the broader research community with the goal of building a more collaborative ecosystem.</p> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section>
   <section class="group group--side    "> 
    <div class="group__wrapper"> 
     <div class="group__content-wrapper"> 
      <div class="group__title-wrapper"> 
       <h2 class="group__title">Some of our datasets</h2> 
      </div> 
     </div> 
     <div class="group__gallery-wrapper"> 
      <div class="gallery gallery--pub

      gallery--1-columns




    "> 
       <div class="gallery__wrapper"> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="/tools/datasets/youtube-8m/" target="_blank" title="YouTube-8M"><span class="hidden-text">YouTube-8M</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               YouTube-8M 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>A large-scale labeled video dataset that consists of 8 million YouTube video IDs, deep inception-3 features, and associated labels from a diverse vocabulary of 4800 visual entities.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="https://github.com/google-research/google-research/tree/master/demogen" target="_blank" title="Deep Model Generalization (DEMOGEN)"><span class="hidden-text">Deep Model Generalization (DEMOGEN)</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Deep Model Generalization (DEMOGEN) 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>The DEMOGEN dataset consists of 756 trained deep models, along with their training and test performance on the CIFAR-10 and CIFAR-100 datasets</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="https://storage.googleapis.com/openimages/web/index.html" target="_blank" title="Open Images"><span class="hidden-text">Open Images</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Open Images 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>A dataset consisting of ~9 million URLs to images that have been annotated with labels spanning over 6000 categories.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="https://github.com/cvdfoundation/google-landmark" target="_blank" title="Google Landmarks"><span class="hidden-text">Google Landmarks</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Google Landmarks 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Contains images annotated with labels representing human-made and natural landmarks. The dataset can be used for landmark recognition and retrieval experiments.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="/tools/datasets/audioset/" target="_blank" title="AudioSet"><span class="hidden-text">AudioSet</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               AudioSet 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Comprehensive sound ontology with over 600 sound classes and a dataset of over 2 million 10-second YouTube clips human-annotated with sound labels.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="https://ai.google.com/research/NaturalQuestions" target="_blank" title="Natural Questions"><span class="hidden-text">Natural Questions</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Natural Questions 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>A question answering dataset. Text of real anonymized, aggregated queries issued to the Google search engine.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="https://sites.google.com/site/brainrobotdata/home" target="_blank" title="Robotic Tasks"><span class="hidden-text">Robotic Tasks</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Robotic Tasks 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>A collection of examples of a robot arm pushing and grasping a variety of objects. The dataset contains RGB-D views of the arm, gripper and objects, along with actuation and position parameters.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item last"> 
         <div class="card card--default   card--no-background  card--publication-list" data-card-type="list"> <a class="card__link" href="https://magenta.tensorflow.org/datasets/nsynth" target="_blank" title="Nsynth"><span class="hidden-text">Nsynth</span></a> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Nsynth 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>A large-scale and high-quality dataset of annotated musical notes.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__ctas"> <a class="button  " href="/tools/datasets/"> Explore our datasets </a> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section>
   <section class="group group--side    has-grey-background"> 
    <div class="group__anchor" id="open-source" style="transform: translateY(-20px)"></div> 
    <div class="group__wrapper"> 
     <div class="group__content-wrapper"> 
      <div class="group__title-wrapper"> 
       <h2 class="group__title">Open Source</h2> 
      </div> 
     </div> 
     <div class="group__gallery-wrapper"> 
      <div class="gallery gallery--image-card





    "> 
       <div class="gallery__wrapper"> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://www.tensorflow.org/" target="_blank" title="Explore TensorFlow"><span class="hidden-text">Explore TensorFlow</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_tensorflow-logo-db6ab1236794d1ebfe0514be50f2e12c77e5ab09032a8761cf0e425cfee1c3cb.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Explore TensorFlow 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Our open-source machine learning platform for everyone.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://github.com/quantumlib" target="_blank" title="QuantumLib"><span class="hidden-text">QuantumLib</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_quantumlib-c0bf453899b1c81aed689462c1afbe0beda47cf15e9b3c2564afa7b423e9559c.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               QuantumLib 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Code for the Quantum World.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://opensource.google.com/" target="_blank" title="Google Open Source"><span class="hidden-text">Google Open Source</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_get-started_google-open-source-6ca89a2fa3541abb0bf1428fead65eaff030e9745f5db11712359dcb73d46d0e.jpg)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Google Open Source 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Google believes that open source is good for everyone.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item last"> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://github.com/google-research/google-research" target="_blank" title="Google Research GitHub"><span class="hidden-text">Google Research GitHub</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/open-source_github-small-d373b61babe6a2e93297c1bc09c5a705deaef32bf6a4f6a3c1994bb968ecb1a9.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Google Research GitHub 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Explore all the open source releases from Google Research.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section>
   <section class="group group--side    "> 
    <div class="group__anchor" id="tools-and-services" style="transform: translateY(-20px)"></div> 
    <div class="group__wrapper"> 
     <div class="group__content-wrapper"> 
      <div class="group__title-wrapper"> 
       <h2 class="group__title">Tools and services</h2> 
      </div> 
     </div> 
     <div class="group__gallery-wrapper"> 
      <div class="gallery gallery--image-card
        gallery--variable
gallery--7-cards 




    "> 
       <div class="gallery__wrapper"> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://www.tensorflow.org/resources/tools" target="_blank" title="Tensorflow tools"><span class="hidden-text">Tensorflow tools</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_tensor-flow-ad490c47e2361c3303e642329a4a1f55f7cc57cda383f1f32b8c11cb335299d2.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Tensorflow tools 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Ecosystem of tools to help you use TensorFlow</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://sites.research.google/trc" target="_blank" title="TPU Research Cloud"><span class="hidden-text">TPU Research Cloud</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_tensor-flow-research-cloud-deb9cd9bdbaf14d78275f51e6b103332e75240b959e3aeaf8c707a1677812468.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               TPU Research Cloud 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>The TPU Research Cloud (TRC) program enables researchers to apply for access to a cluster of more than 1,000 Cloud TPUs at no charge to help them accelerate the next wave of research breakthroughs.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://toolbox.google.com/datasetsearch" target="_blank" title="Dataset Search"><span class="hidden-text">Dataset Search</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/datasets-search-b0af26e0f0f995b7b31061606931de3857bc4317d5fb0947bf49cf1d86cf42ff.jpg)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Dataset Search 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Dataset Search enables users to find datasets stored in thousands of repositories across the web, making these datasets universally accessible and useful for everyone.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://cloud.google.com/tpu/" target="_blank" title="Cloud TPU machine learning accelerators"><span class="hidden-text">Cloud TPU machine learning accelerators</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_cloud-tpu-acf75bfac1623902efcbbd2eb87a83f2eda80330a229933fc525e08f6fb205d2.jpeg)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Cloud TPU machine learning accelerators 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Train and run machine learning models faster than ever before.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://cloud.google.com/products/machine-learning/" target="_blank" title="Cloud AI"><span class="hidden-text">Cloud AI</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_for-organizations_cloud-ai-90e1edd0a97c8c55cec14d1fddf09ae27c67f5626bcfb92370aa5b0e8dd51501.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Cloud AI 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Google Cloud's AI provides modern machine learning services, with pre-trained models and a service to generate your own tailored models.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item "> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://cloud.google.com/automl/" target="_blank" title="Cloud AutoML"><span class="hidden-text">Cloud AutoML</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_for-organizations_cloud-automl-2bd15d16e5c53441f229b4d4c7fb87ca7147ef9cf6438cf6b042b667250125c5.png)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               Cloud AutoML 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Train high quality custom machine learning models with minimum effort and machine learning expertise.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
        <div class="gallery__item last"> 
         <div class="card card--default     " data-card-type="card"> <a class="card__link" href="https://colab.research.google.com" target="_blank" title="CoLaboratory"><span class="hidden-text">CoLaboratory</span></a> 
          <div class="card__image" style="background-image: url(/static/images/tools/tools_get-started_colaboratory-a03f10321ff7221b82fc68198a3b35bc00fc85e257b8e79b5fc33cdc682c86f6.jpg)"></div> 
          <div class="content     "> 
           <div class="content__text"> 
            <div class="content__header"> 
             <div class="content__title ">
               CoLaboratory 
             </div> 
            </div> 
            <div class="content__body"> 
             <p>Colaboratory is a Google research project created to help disseminate machine learning education and research. It's a Jupyter notebook environment that requires no setup to use and runs entirely in the cloud.</p> 
            </div> 
           </div> 
          </div> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section> 
   <div class="callout-push-down-spacer"></div> 
   <section class="callout callout--fullwidth   "> 
    <div class="block block--cta-left     "> 
     <div class="block__content-wrapper"> 
      <div class="content block__content    "> 
       <div class="content__text"> 
        <div class="content__header"> 
         <h3 class="content__title "> Build your machine learning skills </h3> 
        </div> 
        <div class="content__body"> 
         <p>Whether you’re an ML expert or you’re just getting started, you’ll find training and information in our resource center.</p> 
        </div> 
       </div> 
       <div class="content__ctas"> <a class="button button--light " href="https://ai.google/education/" target="_blank"> Learn with Google AI </a> 
       </div> 
      </div> 
     </div> 
    </div>
   </section> 
  </main> 
  <footer> <a href="https://www.google.com" target="_blank" aria-label="Google" class="footer__logo"> <img src="/static/images/google_lockup_grey-c55a858d36d74fd790953e6d5cbab45ac99bd5bd8c2b764768258ec732ad42ad.svg" alt="Google"> </a> 
   <div class="footer__links"> <a href="https://policies.google.com/privacy" target="_blank" class="footer__link">Privacy</a> <a href="https://policies.google.com/terms" target="_blank" class="footer__link">Terms</a> <a href="https://about.google/" target="_blank" class="footer__link">About Google</a> <a href="https://about.google/intl/en/products/" target="_blank" class="footer__link">Google Products</a> 
   </div> 
   <div class="footer__tertiary"> <a href="" class="footer__link footer__link--support" onclick="sendFeedback()"> Feedback </a> 
   </div> 
   <script>
    function sendFeedback() {
      var config = {
        'productId': '5137383',
        'bucket': 'site',
        'allowNonLoggedInFeedback' : true
      };
      userfeedback.api.startFeedback(config);
    }
  </script> 
  </footer> 
  <div id="breakpoints"></div> 
  <script src="/js/main_min_js.js"></script>  
 </body>
</html>